.Input {
  margin-bottom: 5px;
  transition: all 0.3s;
}

.Input label {
  display: block;
  color: black;
  text-align: left;
  font-weight: bold;
}

.Input input {
  margin-top: 5px;
  display: block;
  padding: 7px;
  border: 1px solid #bebebe;
  border-radius: 3px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.Input.Invalid input {
  border: 1px solid #f01f30;
}

.Input.Invalid span {
  color: #f01f30;
  text-align: left;
  display: block;
  font-size: 10px;
  line-height: 1;
}
